.confirm-email-message {
  margin-top: 15px; 
  font-size: 0.9rem; 
  padding: 12px 15px;
  border-radius: 6px; 
  line-height: 1.5;  
  text-align: center;
  margin-bottom: 20px; 
  border-width: 1px;
  border-style: solid;
}

.confirm-email-message.success {
  color: #155724; 
  background-color: #d4edda; 
  border-color: #c3e6cb; 
}

.confirm-email-message.error {
  color: #721c24; 
  background-color: #f8d7da; 
  border-color: #f5c6cb; 
}